:root{
    --red: hsl(0,100%,74%);
    --green: hsl(154,59%,51%);
    --light-blue: hsl(248,32%,49%);
    --dark-blue: hsl(249,10%,26%);
    --grayish-blue: hsl(246,25%,77%);
    --white: white;
    --form-el-radius: .3rem;
}

*{
    box-sizing:border-box;
}

html{
    background:  url("./images/bg-intro-desktop.png"),var(--red);
    background-repeat: no-repeat;
    height:100vh;
}

body,h1,p{
    margin:0;
}

body{
    font-family: "Poppins",sans-serif;
}

main{
    color: var(--white);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

article:first-of-type{
    text-align: center;
    margin-bottom: 3.5rem;
}

h1{
    font-size: min(3vw + 1rem, 2.5rem);
}

h1+p{
    font-size: .9rem;
    padding: 0 1rem;
}

form{
    background: var(--white);
    padding: 1.5rem;
    border-radius: 1rem;
    border-radius: .6rem;
    margin: 1.5rem 0 0;
}

aside{
    background: var(--light-blue);
    padding: 1rem 3rem;
    border-radius: .6rem;
    text-align: center;
}

input,button{
    width: 100%;
    font-family: "Poppins",sans-serif;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: var(--form-el-radius);
    font-weight: 600;
}

input{
    border: 1px solid var(--grayish-blue);
}

input:focus{
    outline: 1px solid var(--dark-blue);
}

button{
    background: var(--green);
    border: none;
    color: var(--white);
    letter-spacing: 1px;
    cursor: pointer;
}

form>*+*{
    margin-top:1rem;
}

form strong{
    display: block;
    font-size: .6rem;
    text-align: center;
    color: var(--grayish-blue);
}

form strong a{
    color: var(--red);
    text-decoration: none;
}

form div{
    position: relative;
}

.error-icon{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.error-msg{
    color: var(--red);
    display: none;
    margin-top: .25rem;
    font-size: .6rem;
    text-align: end;
    font-style: italic;
    font-weight: 600;
}

.error-icon.active{
    display: block;
}

.error-msg.active{
    display: block;
}

@media screen and (min-width:800px) {
    article{
        display: inline-block;
        width: 49%;
        vertical-align: middle;
    }

    article:first-of-type{
        text-align: start;
        padding: 3rem;
    }

    h1+p{
        padding: 0;
    }

    form{
        padding: 3rem 2.5rem;
    }
}
